// Подклчение базовых настроек
*
  box-sizing: border-box
body
  font-family: 'Muli', sans-serif
  background-color: #f5fafe
  color: #333333
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
a
  text-decoration: none
  color: inherit
button, input, textarea
  outline: none
  border: none
ul, ol
  list-style-type: none
  padding: 0
  margin: 0
h1, h2, h3
  text-decoration: none
  margin: 0
