.footer
  padding: 108px 0 46px 0
  background-color: $dark
  color: #BDBDBD
.information
  display: grid
  grid-template-columns: 166px 160px 251px 195px
  grid-template-rows: 223px
  grid-gap: 120px
  margin-bottom: 95px
  &__title
    margin-bottom: 20px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    color: #fff
  &__link
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    color: #fff
    text-transform: uppercase
.contacts
  display: grid
  grid-template-columns: 495px 540px
  grid-gap: 81px
.datails
  &__li
    margin-bottom: 20px
.message
  &__form
    display: grid
    grid-template-columns: 255px 255px
    grid-row-gap: 15px
    grid-column-gap: 30px
  &__input
    padding: 18px 23px 17px 23px
    border-radius: 4px
  &__textarea
    margin-bottom: 22px
    grid-column-start: 1
    grid-column-end: 3
    padding: 23px
    border-radius: 4px
  &__button
    width: 160px
    height: 50px
    color: #fff
    background: $primery
    border-radius: 4px
    margin-right: 250px
