.footer
  background-color: $dark
  padding: 108px 166px 46px 161px
  color: #BDBDBD
  &__information
    display: flex
    justify-content: space-between
.information
  margin-bottom: 94px
  &__title
    margin-bottom: 20px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    color: #fff
.link
  &__social
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    color: #fff
    text-transform: uppercase
    margin-right: 41px
  &__img
    margin-left: 12px
.contacts
  display: flex
  justify-content: space-between
.datails
  &__ul
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: 20px
  &__icon
    margin-right: 20px
.message
  margin-left: 81px
  align-items: flex-end
  &__input
    width: 255px
    padding: 18px
    border-radius: 4px
    margin-bottom: 15px
  &__textarea
    width: 513px
    padding: 23px
    border-radius: 4px
  &__end
    display: flex
    justify-content: space-between
  &__button
    width: 160px
    height: 50px
    color: #fff
    background: $primery
    border-radius: 4px
    margin-right: 260px
    margin-top: 22px
  &__span
    margin-top: 50px
