.footer
  padding: 108px 0 46px 0
  background-color: $dark
  color: #BDBDBD
  &-information
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
  &__title
    margin-bottom: 16px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    color: #fff
    &--inline
      margin: 0 43px 0 0
  &__logo
    grid-row: 1 / 3
    align-self: center
  &__item
    display: flex
    align-items: flex-start
    &--mb-2
      margin-bottom: 20px
  &__icon
    &-wrapper
      min-width: 40px
  &__categories
    grid-row: 1 / 4
  &__social
    &-network
      display: flex
      align-items: start
      grid-row: 2 / 4
      grid-column: span 2
    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
  &__contact-details
    grid-column-start: span 2
  &__message
    grid-column-start: span 2
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__text
    margin-bottom: 22px
  &__input
    background-color: #fff
    border-radius: 4px
    padding: 0 23px
    height: 50px
    margin-bottom: 15px
    flex-basis: 45%
  &__textarea
    padding: 18px 23px
    flex-basis: 100%
    border-radius: 4px
    margin-bottom: 23px
    resize: none
  &__button
    min-width: 160px
    min-height: 50px
    padding: 18px
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #fff
    background-color: $primery
    border-radius: 4px
    cursor: pointer
  &__info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
